<div class="controls-container">
  <div class="controls">
    <app-button
      [disabled]="editDisabled"
      (click)="addNode()"
    >Add node
    </app-button>
    <app-button
      [disabled]="editDisabled"
      (click)="addEdge()"
    >Add edge
    </app-button>
    <app-button
      [disabled]="editDisabled"
      (click)="removeEdge()"
    >Remove edge
    </app-button>
  </div>
  <div class="controls node-controls" *ngIf="selected">
    <app-button
      [disabled]="!selected?.canDisable"
      (click)="toggle(selected); deselect()"
    >{{ selected.disabled ? 'Enable' : 'Disable' }}
    </app-button>
    <app-button
      [disabled]="editDisabled"
      (click)="delete(selected); deselect()"
    >Delete
    </app-button>
    <app-button
      (click)="deselect()"
    >Cancel
    </app-button>
  </div>
</div>

<svg [attr.width]="width" [attr.height]="height">
  <ng-container *ngFor="let edge of edges">
    <line [attr.x1]="edge.x1" [attr.y1]="edge.y1"
          [attr.x2]="edge.x2" [attr.y2]="edge.y2"
          stroke-opacity="0"
          stroke-width="5"
          stroke="white"
          (click)="select(edge)"
    />
    <line [attr.x1]="edge.x1" [attr.y1]="edge.y1"
          [attr.x2]="edge.x2" [attr.y2]="edge.y2"
          [attr.stroke]="getColor(edge)"
          (click)="select(edge)"
    />
  </ng-container>

  <ng-container *ngFor="let node of nodes">
    <circle
      [attr.cx]="node.x"
      [attr.cy]="node.y"
      [attr.r]="nodeRadius"
      [attr.fill]="getColor(node)"
      (click)="select(node)"
    />
    <text
      text-anchor="middle"
      alignment-baseline="middle"
      fill="white"
      [attr.x]="node.x"
      [attr.y]="node.y"
      (click)="select(node)"
    >{{ node.id }}</text>
  </ng-container>
</svg>
