.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  box-sizing: border-box;
  padding: 0 20px;

  &-attributes {
    display: flex;
    align-items: center;
  }
}

.logo {
  width: 4em;
  margin: 10px;
}

.title {
  font-size: medium;
}

.subtitle {
  font-size: small;
}
