.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  box-sizing: border-box;
  padding: 0 20px;

  &-attributes {
    display: flex;
    align-items: center;
  }
}

.logo {
  width: 4em;
  margin: 10px;
  cursor: pointer;
}

.title {
  font-size: medium;
}

.subtitle {
  font-size: small;
}

.content-container {
  display: flex;
}

.config {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 20px;

  &-image {
    max-width: 1.5rem;
  }
}
