.header {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: black;
  color: white;

  &-logo {
    width: 4em;
    margin: 10px;
  }

  &-text {
    width: 100%;
    text-align: left;
  }
}
