<section
  class="section result-container"
  *ngIf="matrix?.length"
>
  <h3 class="table-header"></h3>
  <table class="table">
    <th class="empty"></th>
    <th *ngFor="let row of matrix; let i = index"
        class=""
    >{{ i }}</th>
    <tr *ngFor="let row of matrix; let j = index">
      <th>{{ j }}</th>
      <td *ngFor="let cell of row">{{ cell }}</td>
    </tr>
  </table>
</section>

<section
  class="section failures-container"
>
  <h3 class="table-header">Ймовірності працездатності:</h3>

  <table>
    <tr *ngFor="let node of failures">
      <td>{{ node }}</td>
    </tr>
  </table>
</section>
