<app-header
  title="Process of system self-diagnosis of {{ size }} modules"
>
  <div class="actions">
    <app-button *ngIf="started"
      class="button"
      (click)="reset()"
    >Reset
    </app-button>
    <app-button
      class="button"
      (click)="run()"
    >{{ running ? 'PAUSE' : 'RUN' }}
    </app-button>
  </div>
</app-header>

<main class="container">
  <section class="section section-graph">
    <app-graph-view
      (graphEvent)="handleGraphEvent($event)"
      [matrix]="matrix"
      [editDisabled]="started"
      [highlighted]="selectedItems"
    ></app-graph-view>
  </section>

  <section class="section section-info">
    <app-task-info
      [matrix]="result"
      [failures]="failures"
    ></app-task-info>
  </section>
</main>
