@import "src/styles/_library";
// https://getcssscan.com/css-buttons-examples

.button {
  background-color: #e1ecf4;
  border-radius: 3px;
  border: 1px solid #7aa7c7;
  box-shadow: rgba($white, .7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #39739d;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
  max-width: 300px;
  width: 100%;
  margin: 5px 0;
}

.button:hover,
.button:focus {
  background-color: #b3d3ea;
  color: #2c5777;
}

.button:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.button:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
}

.primary {
  background-color: $blue-light;
  color: $white;
}

.primary:hover,
.primary:focus {
  background-color: $blue-medium;
}

.primary:focus {
  box-shadow: 0 0 0 4px rgba($blue-light, .15);
}

.primary:active {
  background-color: $blue-light;
}

.success {
  background-color: $success-green;
  color: $white;
}

.success:hover,
.success:focus {
  background-color: rgba($success-green, 0.7);
}

.danger {
  background-color: $error-red;
  color: $white;
}

.danger:hover,
.danger:focus {
  background-color: rgba($error-red, 0.7);
}

.disabled {
  box-shadow: none;
  opacity: .8;
  background-color: rgba($gray-medium, .5);
  pointer-events: none;
  cursor: not-allowed;
}
